.wrapper {
    margin: 0 auto;
    width: 50em;
}
.score-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.start {
    flex: 0 0 10em;
}
.score {
    flex: 1 1 auto;
    margin-left: 14.5em;
}
.score-1, .score-2, .score12 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
.game {
    position: relative;
    background-color: rgba(255, 215, 0, 1);
    border: 0.2em solid #000;
    border-radius: 0.5em;
    margin: 0 auto;
}
.ball {
    position: absolute;
    background-color: rgba(255, 69, 0, 1);
    border-radius: 50%;
}
.player1 {
    position: absolute;
    background-color: rgba(0, 100, 0, 1);
    border-radius: 0.5em;
}
.player2 {
    position: absolute;
    background-color: rgba(0, 0, 205, 1);
    border-radius: 0.5em;
}
